@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  /* Fix compatibility warning */
  html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}

/* Custom scrollbar for large grids */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Custom Toggle Switch */
.toggle-checkbox:checked {
  right: 0;
  border-color: #4f46e5; /* indigo-600 */
  transform: translateX(100%);
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #4f46e5; /* indigo-600 */
}

/* Hide spin buttons on number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

/* Hide calendar icon on specific date inputs */
.no-calendar-icon::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
